.logInForm {
    display: grid;
    grid-auto-columns: auto;
    text-align: center;
    align-content: center;
    justify-items: center
}

.loginDiv {
    text-align: center;
    padding-bottom: 5px;
}


.loginButton:hover {
    background-color: skyblue;
    color: whitesmoke;
    transition: 200ms;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}

.rodal {
    background: #ece9e6;
    background: -webkit-linear-gradient(to right, #ece9e6, #ffffff);
    background: linear-gradient(to right, #ece9e6, #ffffff);
}

.submitLogin:hover{
    background-color: skyblue;
    color: whitesmoke;
    transition: 200ms;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
}