@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.nav {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    height: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    width: 100%;
}

.homeLink {
    text-decoration: none;
    padding: 4px;
}

.profileLink {
    text-decoration: none;
    padding: 4px;
}

.matchesLink {
    text-decoration: none;
    padding: 4px;
}
.matchMaker{
    text-decoration: none;
    padding: 4px;
}

.homeLink:hover {
    font-size: 20px;
    transition: 300ms;
    color: rebeccapurple;
    transition-delay: 100ms;

}

.profileLink:hover {
    font-size: 20px;
    transition: 300ms;
    color: rebeccapurple;
    transition-delay: 100ms;

}

.matchesLink:hover {
    font-size: 20px;
    transition: 300ms;
    color: rebeccapurple;
    transition-delay: 100ms;
}

.matchMaker:hover{
    font-size: 20px;
    transition: 300ms;
    color: rebeccapurple;
    transition-delay: 100ms;
}